<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EmployeeAllotment</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>ControllerPackage.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceptJoiningServlet</display-name>
    <servlet-name>AcceptJoiningServlet</servlet-name>
    <servlet-class>Implementation.AcceptJoiningServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptJoiningServlet</servlet-name>
    <url-pattern>/AcceptJoiningServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllocateSystem</display-name>
    <servlet-name>AllocateSystem</servlet-name>
    <servlet-class>Implementation.AllocateSystem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllocateSystem</servlet-name>
    <url-pattern>/AllocateSystem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Application</display-name>
    <servlet-name>Application</servlet-name>
    <servlet-class>Implementation.Application</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Application</servlet-name>
    <url-pattern>/Application</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveServlet</display-name>
    <servlet-name>ApproveServlet</servlet-name>
    <servlet-class>Implementation.ApproveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveServlet</servlet-name>
    <url-pattern>/ApproveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Decline</display-name>
    <servlet-name>Decline</servlet-name>
    <servlet-class>Implementation.Decline</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Decline</servlet-name>
    <url-pattern>/Decline</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hrHomePage</display-name>
    <servlet-name>hrHomePage</servlet-name>
    <servlet-class>Implementation.hrHomePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hrHomePage</servlet-name>
    <url-pattern>/hrHomePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>Implementation.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reg_Servlet</display-name>
    <servlet-name>Reg_Servlet</servlet-name>
    <servlet-class>Implementation.Reg_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reg_Servlet</servlet-name>
    <url-pattern>/Reg_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendJoiningDateServlet</display-name>
    <servlet-name>SendJoiningDateServlet</servlet-name>
    <servlet-class>Implementation.SendJoiningDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendJoiningDateServlet</servlet-name>
    <url-pattern>/SendJoiningDateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendToMBU</display-name>
    <servlet-name>SendToMBU</servlet-name>
    <servlet-class>Implementation.SendToMBU</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendToMBU</servlet-name>
    <url-pattern>/SendToMBU</url-pattern>
  </servlet-mapping>
</web-app>